<div class="container">
  <div class="row justify-content-end">
    <div class="col-lg-8">
      <% model_class = Aluno %>
        <h1 class="mt-2 pb-2"><%= t('.new', :default=> t('helpers.title.new', :model=> model_class.model_name.human.titleize)) %></h1>

        <%= render 'form', aluno: @aluno %>

        <%= link_to t('.back', :default=> t('helpers.submit.back')), alunos_path, class: "btn btn-danger btn-sm" %>
      </div>
    </div>
  </div>