<%= title "Home" %>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="display-5 mt-2 pb-2">
        Painel de controle
      </h1>
      <%= render partial: 'layouts/navbar-painel' %>
    </div>
  </div>
</div>