<div class="container">
  <div class="row">
    <div class="col">
      <div class="jumbotron">
        <h1 class="display-3">Bem vindo !</h1>
        <p class="lead">
          Painel de controle da biblioteca digital, onde você poderá gerenciar todas as funcionalidades do sistema.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h1 class="display-6">
        Lista de Funcionalidades
      </h1>
      <%= render partial: 'layouts/navbar-painel' %>
    </div>
  </div>
</div>