<%= title "Cadastrar Livro" %>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <% model_class = Livro%>
        <h1 class="mt-2 pb-2"><%= t('.new', :default=> t('helpers.title.new', :model=> model_class.model_name.human.titleize)) %></h1>

        <%= render 'form', livro: @livro %>

        <%= link_to t('.back', :default=> t('helpers.submit.back')), livros_path, class: "btn btn-danger btn-sm" %>
      </div>
    </div>
  </div>